<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pili.plpermission">

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <application>
        <activity
            android:name="com.pili.plpermission.PermissionApplyActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
